#calendar {
    padding: 0;
    font-size: 20px;
}
.calendar .enabled:active {
    background-color: #DFF0D8;
}
.calendar .enabled {
    font-weight: bolder;
}
.calendar .cell{
    
}
.calendar .cell:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    left: -5px;
    top: -4px;
    border-style: solid;
    border-color: transparent;
    border-width: 10px 10px 0 0;
}
.calendar .plan:before {
    border-color: #D6E9C6 transparent transparent transparent;
}
.calendar .selected {
    background-color: #f0f0f0;
}

